@model Dependencia

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de que desea eliminar esta dependencia?</h3>
<div>
    <h4>Dependencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre Dependencia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDependencia)
        </dd>
        <dt class = "col-sm-2">
            Estatus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-controller="Dependencias">
        <input type="hidden" asp-for="IdDependencia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Dependencias" asp-controller="Funcionarios">Regresar</a>
    </form>
</div>
